.meme{
    position: relative;
    width: 59%;
    margin: auto;
    }
    
    .meme > img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: -105px;

    }
    
    .meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000;
    }
    
    .meme > .bottom{
    bottom: 0;
    color: blue;
    font-size: 90px;
    }
    
    .meme > .top {
    top: 0;
    color: blue;
    font-size: 90px;
    }
    
    form {
    padding-top: 25px;
    text-align: center;
    }
    